{% extends "click2ship_core/templates/layout.html" %}

{% block content %}
<section id="cover">
    <div class="container">
        <div class="quote-header"><h2>My Trackings</h2></div>
    </div>
    <div class="container">
        <div class="row">
            
            {% include "click2ship_core/templates/includes/dashboard_left_nav.html" %}

            <div class="col-md-9">
                <p>Trackings page content goes here.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
