{% extends "click2ship_core/templates/layout.html" %}

{% block content %}
<section id="cover">
        <div class="overlay"></div>
        <div class="container  ">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-6">
                    <h1 class="fs-1 fw-bolder">
                 CONTACT US
                  
                </h1>  <p class="mb-2 fs-3 text-muted">Need a hand with your shipping?
                    Just reach out, we are here to help.</p>
                    <button class="nav-btn -outlined">Get In Touch</button>
            </div>
            <div class="col-md-5 ms-auto text-center">
              <img src="/assets/click2ship_core/logos/contact-2.jpg" alt="" class="shadow img-fluid rounded">
            </div>   
            </div>
        </div>

    </section>
  <section class="mb-5 border-top border-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>We would love to hear from you</h1>
                <p>Whether its a query regarding our services or a suggestion you have for us to improve, our support team is all ears to assist you.</p>
                <br>
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                            <div class="form-floating">

                                <input type="text" class="form-control">
                                <label>Full Name</label>

                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                            <div class="form-floating">

                                <input type="text" class="form-control">
                                <label>Email Address</label>

                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                            <div class="form-floating">

                                <input type="text" class="form-control">
                                <label>Contact Number</label>

                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                            <div class="form-floating">

                                <input type="text" class="form-control">
                                <label>Subject</label>

                            </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-4">
                            <div class="form-floating">

                                <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                                
                                <label>Message</label>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-end">
                            <button class="nav-btn -outlined">Send Now</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.295554036363!2d-87.86172162500061!3d41.90800476354292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fad2cda121e2f%3A0x7c8423965b3bb77!2sNorth%20Ave%2C%20Chicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2s!4v1703613338882!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
  </section>
{% endblock %}
