<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3"><img src="/assets/click2ship_core/logos/logo.png" alt="" width="150" class="img-fluid"></div>
            <div class="col-md-3">
                <h4 class="text-white">Company</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Company History</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="text-white">Quick Links</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Services</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="text-white">Quick Contact</h4>
                <div class="d-flex justify-content-left align-items-center text-white pt-2">
                    <span class="px-2 fs-5">
                        <i class="mdi mdi-phone-outline"></i>
                    </span>
                    <span>
                        +012 (345) 556 99 
                    </span>
                </div>
                <div class="d-flex justify-content-left align-items-center text-white pt-2">
                    <span class="px-2 fs-5">
                        <i class="mdi mdi-email"></i>
                    </span>
                    <span>
                       
info@click2ship.com

                    </span>
                </div>
                <div class="d-flex justify-content-left align-items-center text-white pt-2">
                    <span class="px-2 fs-5">
                        <i class="mdi mdi-map-marker"></i>
                    </span>
                    <span>
                        North Avenue, Chicago, IL, 55030 
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-left py-3 text-light fw-light">
                    <p>Alrights reserved by Click2Ship</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
<script type="text/javascript">
    var baseurl = 'index.html';
</script>
<script src="/assets/click2ship_core/vendors/feather-icons/feather.min.js"></script>

<script src="/assets/click2ship_core/vendors/core/core.js"></script>
<script src="/assets/click2ship_core/js/template.js"></script>
<script src="/assets/click2ship_core/vendors/select2/select2.min.js"></script>
<script src="/assets/click2ship_core/js/numeric.js"></script>
<script src="/assets/click2ship_core/vendors/jquery-validation/jquery.validate.min.js"></script>
<script src="/assets/click2ship_core/app/main.js"></script>
</html>